body {
    margin: 20px;
    background: #2d2d2d;
    color: white;
}

.heading {
    text-align: center;
}

.button {
    /*background-color: #4CAF50;*/
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    color: #e7e7e7;
    border: 2px solid #555555;
}
.button:hover {
    background-color: #63666A;
    color: white;
}